.App {
  text-align: center;

}

.App-header {
  background-color: rgba(0, 0, 0, .65);
  height: 50px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.tower {
  margin-top: 10px;
}
